<link rel="stylesheet" type="text/css" href="latihan.css">

<div id="header"> Bagian Header</div>
<div id="menu"> Bagian Menu</div>
<div id="sidebar"> Bagian sidebar </div>
<div id="konten"> Bagian konten</div>
<div id="footer"> Bagian footer</div>